---
import Layout from '../layouts/Layout.astro';
import Video from "../components/Video.astro";
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
---

<Layout title="Premios ESLAM 2024 - Contenido didactico para aprendizaje"  
description = "Ejemplo de descripcion para la busqueda en google"
>


	<Video />
	<main>
		<Intro />
		<Bento />
		<PreFooter />
		<Footer /
	</main>
</Layout>

<style>

</style>
