<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto                        ">
    <img class="w-16 mb-10 m-auto" src="/logo.png" alt="logo de los ESLAND" />

    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        bienvenidos/as <br /> a los Premios ESLAND 
    </h1>
</section>